interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://queue.fal.run/fal-ai/flux-pro/v1.1/requests/req-1/status
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      string: '{"status": "IN_PROGRESS", "request_id": "req-1", "response_url": "https://queue.fal.run/fal-ai/flux-pro/v1.1/requests/req-1"}'
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://queue.fal.run/fal-ai/flux-pro/v1.1/requests/req-1/status
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      string: '{"status": "COMPLETED", "request_id": "req-1", "metrics": {"inference_time":
        2.5}, "response_url": "https://queue.fal.run/fal-ai/flux-pro/v1.1/requests/req-1"}'
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://queue.fal.run/fal-ai/flux-pro/v1.1/requests/req-1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      string: '{"images": [{"url": "https://v3.fal.media/files/out/concept.png", "content_type":
        "image/png"}], "prompt": "a red armchair", "timings": {"inference": 2500},
        "seed": 7}'
version: 1
