interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.wavespeed.ai/api/v3/predictions/job-123/result
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      string: '{"code": 200, "message": "success", "data": {"id": "job-123", "model":
        "wavespeed-ai/flux-2-pro/text-to-image", "status": "processing", "outputs":
        [], "urls": {"get": "https://api.wavespeed.ai/api/v3/predictions/job-123/result"},
        "error": "", "created_at": "2026-01-01T00:00:00.000Z"}}'
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.wavespeed.ai/api/v3/predictions/job-123/result
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      string: '{"code": 200, "message": "success", "data": {"id": "job-123", "model":
        "wavespeed-ai/flux-2-pro/text-to-image", "status": "completed", "outputs":
        ["https://cdn.wavespeed.ai/generated/concept.png"], "urls": {"get": "https://api.wavespeed.ai/api/v3/predictions/job-123/result"},
        "error": "", "timings": {"inference": 2500}, "created_at": "2026-01-01T00:00:00.000Z"}}'
version: 1
