interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.wavespeed.ai/api/v3/predictions/job-fail/result
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      string: '{"code": 200, "message": "success", "data": {"id": "job-fail", "model":
        "wavespeed-ai/flux-2-pro/text-to-image", "status": "failed", "outputs": [],
        "urls": {"get": "https://api.wavespeed.ai/api/v3/predictions/job-fail/result"},
        "error": "generation failed: content policy", "created_at": "2026-01-01T00:00:00.000Z"}}'
version: 1
